/* Calculators styles */
@import "c/quoteCommonsStyles";

/* .ratesTh {
  font-size: 0.7rem;
  text-align: center;
}

td {
  font-size: 0.7rem;
  text-align: center;
} */

/* span {
  font-size: 0.7rem;
} */

.c-table {
  font-size: 0.8rem;
}