/* Calculators styles */
@import "c/quoteCommonsStyles";

.c-products {
  padding-right: 25px;
  padding-left: 15px;
}

.inTableTitle {
  font-weight: bold;
  font-size: small;
  padding: 10px;
  align-content: center;
  text-align: center;
}

.inTableText {
  font-size: smaller;
  padding: 5px;
  text-align: center;
}

.titleTableTab {
  border: 1px solid #ddd;
  border-bottom: transparent;
  display: inline-block;
  background-color: #fff;
  position: relative;
  padding: 6px;
  top: 17px;
}

.actionButton {
  font-weight: bold;
}

tr {
  /* border-collapse: collapse; */
  /* border-bottom: 1px solid #ddd; */
}

.c-card-body {
  padding-right: 25px;
  padding-left: 15px;
}

.accept {
  color: green;
  font-weight: bold;
  text-align: center;
}

.decline {
  color: rgb(121, 17, 17);
  text-decoration: line-through;
  text-align: center;
  font-weight: bold;
}

.integrityTitle {
  color: black;
  font-weight: bold;
  font-size: x-small;
}

.field-small-width {
  max-width: 120px;
  min-width: 100px;
  padding: 0px 5px 0px 0px;
}

.field-x-small-width {
  max-width: 100px;
  min-width: 80px;
  padding: 0px 0px 0px 5px;
}

.field-manual-price-check {
  padding-left: 12px;
  margin-top: 5px;
}

.field-x-small-width-cbx {
  max-width: 100px;
}