:host {
  --slds-c-card-body-spacing-block: 0rem;
  --slds-c-card-header-spacing-block-start: 0rem;
  --slds-c-card-header-spacing-block-end: 0rem;
}

.c-header {
  background-color: #1e214d;
  color: #ffffff;
}

.c-header .slds-col {
  font-weight: 400;  
}

.c-slider.slds-form-element.slds-form-element__label.slds-slider-label.slds-slider-label__range {
  display: none;
}

.c-field.slds-form-element__label {
  font-weight: 700;
}

.c-actions {
  text-align: end;
  padding-top: 20px;
}

.c-center {
  text-align: center;
}

.c-form {
  padding: 10px 0px;
}