.c-header {
  background-color: #000000d0;
  color: #ffffff;
}

.c-header .slds-col {
  font-weight: 400;  
}

.c-slider.slds-form-element.slds-form-element__label.slds-slider-label.slds-slider-label__range {
  display: none;
}